@charset "utf-8";

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$size-1: 2.5em;
$size-2: 2em;
$size-3: 1.6em;
$size-4: 1.4em;
$size-5: 1em;
$size-6: 1em;

$link: #3273dc;

@import "bulma";

@import "theme/typography.scss";
@import "theme/core.scss";
@import "theme/accessibility.scss";
@import "theme/navigation.scss";
@import "theme/comment.scss";
@import "theme/content.scss";
@import "theme/widget.scss";
@import "theme/custom.scss";
@import "theme/responsive.scss";
