# Editors
project.xml
project.properties
nbproject/private/
.buildpath
.project
.settings*
.idea

# Node
node_modules/
deploy/
build/

# Docs
docs/

# Sass
.sass-cache/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Environment
.env

# Map
*.map
