html {
	font-size: $size-6;
}

body {
	font-size: $body-font-size;
	font-weight: $weight-normal;
	margin: 0;
	color: $text;
	font-family: $family-sans-serif;
	line-height: $body-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1 {
	font-size: $size-1;
}
h2 {
	font-size: $size-2;
}
h3 {
	font-size: $size-3;
}
h4 {
	font-size: $size-4;
}
h5 {
	font-size: $size-5;
}
h6 {
	font-size: $size-5;
}

button,
input,
select,
optgroup,
textarea {
	color: $text;
	font-family: $family-sans-serif;
	font-weight: 400;
	line-height: $body-line-height;
}

p {
	margin-bottom: 1.5em;
}

a {
	color: $link;
}

a:visited {
	color: $link;
}

a:hover,
a:active {
	color: $link;
	outline: 0;
	text-decoration: none;
}

a:focus {
	outline: thin;
	outline-style: dotted;
	text-decoration: underline;
}
