html {
	font-size: var(--bulma-size-6);
}

body {
	font-size: var(--bulma-body-font-size);
	font-weight: var(--bulma-body-weight);
	margin: 0;
	color: var(--bulma-text);
	font-family: var(--bulma-family-primary);
	line-height: var(--bulma-body-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1 {
	font-size: var(--bulma-size-1);
}
h2 {
	font-size: var(--bulma-size-2);
}
h3 {
	font-size: var(--bulma-size-3);
}
h4 {
	font-size: var(--bulma-size-4);
}
h5 {
	font-size: var(--bulma-size-5);
}
h6 {
	font-size: var(--bulma-size-5);
}

button,
input,
select,
optgroup,
textarea {
	color: $text;
	font-family: var(--bulma-family-primary);
	font-weight: 400;
	line-height: var(--bulma-body-line-height);
}

p {
	margin-bottom: 1.5em;
}

a {
	color: var(--bulma-link);
}

a:visited {
	color: var(--bulma-link);
}

a:hover,
a:active {
	color: var(--bulma-link);
	outline: 0;
	text-decoration: none;
}

a:focus {
	outline: thin;
	outline-style: dotted;
	text-decoration: underline;
}
