.widget {
	margin: 0 0 1.5em;
}

.widget ul {
	list-style: disc;
}

.widget select {
	max-width: 100%;
}

.widget-area {
	.widget-title {
		font-size: var(--bulma-size-3);
		border-bottom: 2px solid #f1efef;
		margin-bottom: 15px;
	}
}

.widget_rss {
	.widget-title a {
		color: var(--bulma-text);
		&:hover {
			color: var(--bulma-link);
		}
	}
}

.widget_tag_cloud {
	.tagcloud a {
		border: 1px #f1efef solid;
		display: inline-block;
		margin-bottom: 5px;
		padding: 5px 10px;
	}
}

.widget_calendar {
	table {
		width: 100%;
		border-collapse: collapse;

		caption {
			font-weight: bold;
			margin-bottom: 10px;
		}

		td,
		th {
			border: 1px #f1efef solid;
			padding: 5px;
			text-align: center;
		}
	}
}

.widget-area {
	.wp-block-latest-posts.wp-block-latest-posts__list {
		list-style: inherit;
		padding-left: 1em;
	}

	ul.wp-block-rss.wp-block-rss {
		list-style-position: outside;
		margin-left: 1em;
	}

	.wp-calendar-table caption {
		font-weight: 600;
		margin-bottom: 5px;
	}

	.wp-calendar-nav {
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
	}
}
